{% extends 'layout.html' %}

{% block body %}

    {% include 'includes/_messages.html' %}

    <div class="jumbotron container" style="margin-top: 20px ;">
        <center><h1 class="bd-title" id="content">Pressure Matrix Heatmap</h1></center>
        <center>
            <img src="{{ url_for('get_frame', frame=0) }}" id="heatmap" />
            <script>
            const img = document.getElementById('heatmap');
            let frame = 0;
            const maxFrames = 20; // Replace with the number of frames in your animation
            
            setInterval(() => {
                frame = (frame+1) % maxFrames;
                img.src = `/get_frame/${frame}`;
            }, 50);
            </script>
        </center>
        

    </div>
        


{% endblock %}